body {
    text-align: center;
    overflow: hidden;
}
/* #container{
    left: 15%;
    position: relative;
} */

#window{
    background-color:royalblue;
    width: 30%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.hidden {
    display: none;
}

#game-over-container {
    position: absolute;
    padding: 10px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#board{
    max-width: calc(100vw - 16px);
    width: calc(100vw - 16px);
    max-height: calc(100vh - 16px);
    height: calc(100vh - 16px);
    max-height: -webkit-fill-available; /* only relevant on mobile */
    object-fit: contain;
}

.head-down{
    transform: rotate(180deg);
}